{% extends "base.html" %}
   {% block windowtitle %}{{ article.title }} - {{ SITENAME}}{% endblock %}

{% block content %}
    <div class='article'>
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            {% include "metadata.html" %}
        </div>
	
        <div>{{ article.content }}</div>
	
        <hr>
        
        <div>To comment <a href="http://www.freelists.org/list/torservers">use our mailing list</a> or visit us on IRC (irc.oftc.net #torservers).</div>
   	   
    </div>
{% endblock %}
